.comment_form{
    margin-bottom: 2%;
}

.full_post{
    margin-left: 20px;
}

.full_post_date{
    color: rgb(255, 255, 255);
    margin: 0 0 5px 0;
}

.fullPostImg{
    width: 600px;
    height: 70%;
    display: block;
    border-radius: 5px;
}