.userText{
    width: 600px;
    height: 200px;
    resize: none;
    margin-bottom: 20px;
    color: brown;
    font-weight: 600;
    display: block;
    border: 1px solid rgb(39, 26, 213);
    border-radius: 5px;
}   