.post {
    width: 600px;
    display: flex;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 1px solid #000;
    word-wrap: break-word;
    padding: 5px;
}

.postBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post_control{
    text-align: end;
}

.postinfo{
    display: flex;
    justify-content: space-between;
}

.postTime{
    color: rgb(255, 255, 255);
}

.postImg{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.postTitle{
    margin: 5px 0 ;
}

.deletePost{
    width: 20%;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.fullPostButton{
    width: 40%;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}