.inputTitle{
    width: 250px;
    height: 23px;
    color: brown;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid rgb(39, 26, 213);
    margin-bottom: 10px;
    display: block;
    margin-bottom: 20px;
}