.comment{
    width: 50%;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    justify-content: space-between;
    margin-bottom: 10px;
    word-break: break-all;
}

.author{
    display: flex;
}

.authorName{
    margin: 0 10px 0 0;
}

.comment_text{
    margin: 5px 0;
}

.deleteButton{
    width: 60px;
    height: 24px;
    cursor: pointer;
    background-color: #000;
    color: #FFFF;
    border-radius: 5px;
}

.comment_date{
    color: #FFFF;
    text-decoration: underline;
}

.comment_form_title{
    margin: 0 0 6px 0;
}